*, ::before, ::after {
    box-sizing: border-box;
}
body {
    font-family: 'Montserrat', sans-serif;
    background: #EEE2DC;
    color:  white;
    text-shadow: #C41E3A 2px 3px 4px;
    background-image: url(https://phonoteka.org/uploads/posts/2021-03/1616362997_34-p-sirenevii-fon-34.jpg);
    background-size: cover;
}
.flex-wrapper {
    display: flex;
    height: 20vh;
}

.flex-wrapper a {
    position: relative;
    flex: 1;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: flex .4s;
}

.flex-wrapper .one {
    background-image: url(http://wallpapers4screen.com/Uploads/21-1-2016/7566/thumb-mosaic-texture-cubes-abstraction.jpg);
    background-color: red;
    border-radius: 5px;
}

.flex-wrapper .two {
    background-image: url(https://q-wel.com/uploads/news/1848/59e854160911f.jpg);
    background-color: green;
}

.flex-wrapper .three {
    background-image: url(https://catherineasquithgallery.com/uploads/posts/2021-02/1613623328_78-p-fon-dlya-prezentatsii-figuri-87.jpg);
    background-color: steelblue;
}

.flex-wrapper .four {
    background-image: url(https://phonoteka.org/uploads/posts/2021-06/1623715542_5-phonoteka_org-p-lou-poli-abstraktsiya-oboi-krasivo-6.jpg);
    background-color: orange;
}

.flex-wrapper .five {
    background-image: url(https://i.ytimg.com/vi/r0vgm-_tFPw/maxresdefault.jpg);
    background-color: tomato;
    border-radius: 5px;
}

.flex-wrapper a:hover {
    flex: 3;
}

.flex-wrapper .overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: background-color .4s;
}

.flex-wrapper a:hover .overlay {
    background-color: rgba(0, 0, 0, .5);
}

.flex-wrapper .overlay-inner * {
    visibility: hidden;
    opacity: 0;
    transform-style: preserve-3d;
}

.flex-wrapper .overlay h2 {
    transform: translate3d(0, -60px, 0);
}

.flex-wrapper .overlay p {
    transform: translate3d(0, 60px, 0);
}

.flex-wrapper a:hover .overlay-inner * {
    opacity: 1;
    visibility: visible;
    transform: none;
    transition: all .3s .3s;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding-left: 2px;
    padding-right: 2px;
}
.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: -2px;
    margin-right: -2px;
}
.column1 {
    text-align: center;
    max-width: 100%;
    flex: 25%;
    min-height: 1px;
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 10px;

}

.column2 {
    max-width: 100%;
    flex: 50%;
    min-height: 1px;
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 10px;
    text-align: center;
}
.column3 {
    text-align: center;
    max-width: 100%;
    flex: 25%;
    min-height: 1px;
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 10px;

}

p{
    color:  white;
}
img {
    max-width: 100%;
    height: auto;
    border-radius: 15px;
    box-shadow:  #543964 2px 3px 5px;
}
.Footer{
    color: white;

}

#gallery{
    width:250px;
    margin-top: 20px ;
    text-align: center;
    padding-bottom: 10px;
}
#gallery .photos{
    position: relative;
    height: 200px;
}
#gallery .photos img{
    width: 100%;
    /*display: none;*/
    position: absolute;
    opacity: 0;
    transition: opacity 1s;
    margin-right:  20%;
}
/*
#gallery .photos img:first-child{
display: block;
}*/
#gallery .photos img.Showed{
    opacity: 1;
}
.buttons{
    margin-top: 150px;
    align-items:   center;
    text-align:  center;
    margin-left: 50%;

}
@media (max-width: 768px) {
    .column {
        flex: 0 0 48%;
    }
}
@media (max-width: 480px) {
    .column {
        flex: 0 0 100%;
    }
}